In [1]:
import pandas as pd

In [48]:
df = pd.read_csv("ocorrencia.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [7]:
df.loc[1:3,'ocorrencia_cidade']

1                 BELÉM
2        RIO DE JANEIRO
3    LUCAS DO RIO VERDE
Name: ocorrencia_cidade, dtype: object

In [14]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0.0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0.0

In [21]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [23]:
df.codigo_ocorrencia.is_unique

True

In [24]:
df.set_index('codigo_ocorrencia', inplace=True)

In [26]:
df.head()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [27]:
df.loc[40211]

codigo_ocorrencia1                        40211
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        12:00:00
total_recomendacoes                         0.0
Name: 40211, dtype: object

In [28]:
df.reset_index(drop=True, inplace=True)

In [29]:
df.head()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [30]:
df.loc[0,'ocorrencia_aerodromo']=''

In [34]:
df.head(0)

Empty DataFrame
Columns: [codigo_ocorrencia1, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes]
Index: []

In [35]:
df.loc[0]

codigo_ocorrencia1                        40211
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        12:00:00
total_recomendacoes                         0.0
Name: 0, dtype: object

In [37]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [40]:
df.head()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0.0,RJ
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,PA
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,RS

In [45]:
df.loc[df.ocorrencia_uf =='SP',['ocorrencia_classificacao']] ='GRAVE'

In [50]:


df.loc[df.ocorrencia_uf =='SP']

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
16,39809,39809,INCIDENTE,SÃO PAULO,SP,****,2010-01-15,15:00:00,0.0
18,39828,39828,INCIDENTE,SANTOS,SP,****,2010-01-15,17:45:00,0.0
26,39847,39847,INCIDENTE,SOROCABA,SP,****,2010-01-20,13:10:00,0.0
27,39768,39768,INCIDENTE,CAMPINAS,SP,****,2010-01-21,20:45:00,0.0
...,...,...,...,...,...,...,...,...,...
6084,80234,80234,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0.0
6085,80208,80208,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0.0
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0.0
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [53]:
ocorrencia_uf
***
ocorrencia_aerodromo
****
*****
###!
ocorrencia_hora
NULL

SyntaxError: invalid syntax (Temp/ipykernel_33848/4086953577.py, line 1)

In [55]:
df.loc[df.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']] = pd.NA

In [56]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [72]:
df.replace(['***','****','*****','###!','####','NULL','',""],pd.NA, inplace=True)

In [69]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [70]:
df.isna()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
6109,False,False,False,False,False,False,False,False,False
6110,False,False,False,False,False,False,False,False,False
6111,False,False,False,False,False,False,False,False,False
6112,False,False,False,False,False,True,False,False,False
6113,False,False,False,False,False,False,False,False,False

In [73]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [75]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [76]:
df.fillna(0)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,0,2010-01-03 00:00:00,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,0,2010-01-04 00:00:00,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15 00:00:00,15:05:00,0.0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,0,2021-08-18 00:00:00,16:00:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0

In [77]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [78]:
df['total_recomendacoes_bkp']=df.total_recomendacoes

In [79]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,0.0

In [83]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

In [87]:
df.count()

codigo_ocorrencia           6114
codigo_ocorrencia1          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6093
ocorrencia_uf               6093
ocorrencia_aerodromo        3648
ocorrencia_dia              6093
ocorrencia_hora             6092
total_recomendacoes         6093
dtype: int64

In [85]:
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0.0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0.0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0.0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [90]:
# Excluindo as duplicadas
df.drop_duplicates()

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0.0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0.0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0.0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0