In [1]:
import pandas as pd
import pandera as pa

In [2]:
valores_ausentes = ['***','****','*****','###!','####','NULL']
df = pd.read_csv("ocorrencia.csv", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,2010-01-06,17:53:00,0.0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3.0
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0.0

In [3]:
schema = pa.DataFrameSchema(
    columns={
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia":pa.Column(pa.Int),
        
        "codigo_ocorrencia1":pa.Column(pa.Int),
        
        "ocorrencia_classificacao":pa.Column(pa.String),
        
        "ocorrencia_cidade":pa.Column(pa.String, nullable=True),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime, nullable=True),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Float, nullable=True)
        
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0.0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0.0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0.0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,NaN,2021-08-18,16:00:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [5]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia1                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

In [6]:
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia1                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                         0.0
Name: 1, dtype: object

In [7]:
df.iloc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia1                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                         0.0
Name: 1, dtype: object

In [8]:
df.iloc[-1]

codigo_ocorrencia                         80259
codigo_ocorrencia1                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
total_recomendacoes                         0.0
Name: 6113, dtype: object

In [9]:
#Busca pelo ínfice
df.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,0.0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0.0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2.0
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0.0

In [10]:
#Busca pelo LABEL
df.loc[10:15]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,0.0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0.0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2.0
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0.0
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0.0

In [11]:
#Buscar dados de uma coluna
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [12]:
#Buscar dados de uma coluna
#mesmo de cima, uma forma mais prática
df['ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [13]:
#Manipulação de valores Na/NaN
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [14]:
#Manipulação de valores NULL
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [15]:
#Procurando ocorrências com valor de UF = NULL
#df.loc[df.ocorrencia_uf.isnull()]

#OUTRA FORMA
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2922,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
2989,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4461,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4493,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4702,78324,78324,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5473,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5514,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5544,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5624,79582,79582,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5665,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5736,79799,79799,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5752,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5776,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5883,79973,79973,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5884,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5892,79982,79982,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5893,79983,79983,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5903,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5921,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6015,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6017,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN

In [16]:
#Procurando ocorrências com valor de hHORA = NULL
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2922,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
2989,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4102,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,0.0
4461,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4493,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4702,78324,78324,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5473,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5514,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5544,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5624,79582,79582,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5665,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5736,79799,79799,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5752,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5776,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5883,79973,79973,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5884,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5892,79982,79982,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5893,79983,79983,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5903,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5921,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6015,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6017,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN

In [17]:
df.count()

codigo_ocorrencia           6114
codigo_ocorrencia1          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6093
ocorrencia_uf               6093
ocorrencia_aerodromo        3648
ocorrencia_dia              6093
ocorrencia_hora             6092
total_recomendacoes         6093
dtype: int64

In [18]:
#Filtramdp ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                 11.0
326         RIO DE JANEIRO                 19.0
530              SÃO PAULO                 11.0
727               ITÁPOLIS                 11.0
872                 RECIFE                 23.0
884   SÃO JOSÉ DOS PINHAIS                 11.0
1062            UBERLÂNDIA                 20.0
1972              BRASÍLIA                 11.0
2797                SANTOS                 13.0
3932               VITÓRIA                 12.0

In [19]:
#filtrando ocorrências cuja classificação = INCIDENTE GRAVE
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade','ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
7             CANUTAMA            AM
8             CASCAVEL            PR
9        PARÁ DE MINAS            MG
29            CURITIBA            PR
35              PALMAS            TO
...                ...           ...
6090             MARAÚ            BA
6095   ELDORADO DO SUL            RS
6097     CAXIAS DO SUL            RS
6098   CHAPADÃO DO SUL            MS
6104       VOTUPORANGA            SP

[791 rows x 2 columns]

In [20]:
#filtrando ocorrências cuja classificação == INCIDENTE GRAVE && ESTADO == SP
filtroClassificacao = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtroUF = df.ocorrencia_uf == 'SP'
df.loc[filtroClassificacao & filtroUF,['ocorrencia_cidade','ocorrencia_aerodromo']]

          ocorrencia_cidade ocorrencia_aerodromo
136            PIRASSUNUNGA                 SDPY
171               GUARULHOS                 SBGR
219               SÃO PAULO                 SBMT
297               SÃO PAULO                 SBMT
314   SÃO JOSÉ DO RIO PRETO                 SBSR
...                     ...                  ...
5949          FERNANDÓPOLIS                  NaN
6000                   LINS                 SWXQ
6007              SÃO PAULO                 SBSP
6081      BRAGANÇA PAULISTA                 SDVH
6104            VOTUPORANGA                 SDVG

[144 rows x 2 columns]

In [21]:
#DIVERSIFICAÇÃO DA AULA PARTE 7 MINUTO 04:20
#filtrando ocorrências cuja( classificação == INCIDENTE GRAVE || classificacao == INCIDENTE) && ESTADO == SP
filtroClassificacao = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtroClassificacao2 = df.ocorrencia_classificacao == 'INCIDENTE'
filtroUF = df.ocorrencia_uf == 'SP'
df.loc[(filtroClassificacao | filtroClassificacao2) & filtroUF,['ocorrencia_cidade','ocorrencia_aerodromo']]

      ocorrencia_cidade ocorrencia_aerodromo
16            SÃO PAULO                  NaN
18               SANTOS                  NaN
26             SOROCABA                  NaN
27             CAMPINAS                  NaN
33            GUARULHOS                 SBGR
...                 ...                  ...
6084          SÃO PAULO                 SBSP
6085          SÃO PAULO                 SBMT
6104        VOTUPORANGA                 SDVG
6108  BRAGANÇA PAULISTA                 SBBP
6113           CAMPINAS                 SBKP

[1057 rows x 2 columns]

In [22]:
#1º VARIAÇÃO(minha) DO EXERCICIO ACIMA, MOSTRADO PELO PROFESSOR, ÀS 04:20
#filtrando ocorrências cuja( classificação == INCIDENTE GRAVE || classificacao == INCIDENTE) && ESTADO == SP
filtroClassificacao = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtroUF = df.ocorrencia_uf == 'SP'
df.loc[filtroClassificacao & filtroUF ]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0.0
18,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0.0
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0.0
27,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,2010-01-21,20:45:00,0.0
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,2010-01-25,17:05:00,0.0
...,...,...,...,...,...,...,...,...,...
6084,80234,80234,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0.0
6085,80208,80208,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0.0
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0.0
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [23]:
#2º VARIAÇÃO(minha) DO EXERCICIO ACIMA, MOSTRADO PELO PROFESSOR, ÀS 04:20
#filtrando ocorrências cuja( classificação == INCIDENTE GRAVE || classificacao == INCIDENTE) && ESTADO == SP
filtroClassificacao = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE'])
filtroUF = df.ocorrencia_uf == 'SP'
df.loc[filtroClassificacao & filtroUF ]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0.0
18,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0.0
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0.0
27,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,2010-01-21,20:45:00,0.0
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,2010-01-25,17:05:00,0.0
...,...,...,...,...,...,...,...,...,...
6084,80234,80234,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0.0
6085,80208,80208,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0.0
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0.0
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [24]:
#Ocorrências cuja cidade comecem com a letra A
filtro = df.ocorrencia_cidade.str[0] == 'A'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
109,40087,40087,ACIDENTE,ANÁPOLIS,GO,SWNS,2010-03-26,10:45:00,4.0
121,40269,40269,INCIDENTE GRAVE,ANÁPOLIS,GO,SWNS,2010-04-07,19:30:00,1.0
128,40227,40227,INCIDENTE,AREALVA,SP,NaN,2010-04-12,14:03:00,0.0
222,45940,45940,ACIDENTE,ALTO ALEGRE,RR,NaN,2010-06-09,15:00:00,0.0
228,41488,41488,ACIDENTE,AQUIRAZ,CE,NaN,2010-06-13,12:50:00,0.0
...,...,...,...,...,...,...,...,...,...
6038,80154,80154,ACIDENTE,ACARÁ,PA,NaN,2021-07-02,15:00:00,0.0
6050,80173,80173,INCIDENTE,ARUANÃ,GO,SWNH,2021-07-08,13:00:00,0.0
6080,80199,80199,INCIDENTE,ATIBAIA,SP,SDTB,2021-07-25,11:50:00,0.0
6086,80212,80212,INCIDENTE,AMAPÁ,AP,NaN,2021-07-28,18:00:00,0.0
6091,80218,80218,ACIDENTE,APUÍ,AM,SNLM,2021-08-01,14:20:00,0.0

In [25]:
#Ocorrências cuja cidade TERMINAM com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3.0
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0.0
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0.0
25,39772,39772,INCIDENTE,UBERLÂNDIA,MG,NaN,2010-01-20,18:58:00,0.0
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0.0
...,...,...,...,...,...,...,...,...,...
6093,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0.0
6094,80225,80225,INCIDENTE,CURITIBA,PR,SBBI,2021-08-04,13:45:00,0.0
6102,80240,80240,INCIDENTE,GOIÂNIA,GO,SBNV,2021-08-10,14:15:00,0.0
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0.0
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0.0

In [26]:
#Ocorrências cuja cidade TERMINAM com a letra MA
filtro = df.ocorrencia_cidade.str[-2:] == 'RA'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
48,39235,39235,ACIDENTE,ITUMBIARA,GO,NaN,2010-02-06,17:20:00,3.0
53,39405,39405,ACIDENTE,ITIQUIRA,MT,NaN,2010-02-07,11:30:00,1.0
61,41377,41377,ACIDENTE,SERRA NEGRA,SP,NaN,2010-02-14,17:30:00,0.0
68,40318,40318,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-02-22,13:47:00,0.0
187,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,0.0
...,...,...,...,...,...,...,...,...,...
5913,80011,80011,ACIDENTE,PLANURA,MG,NaN,2021-04-01,12:45:00,0.0
5991,80096,80096,ACIDENTE,PIRAQUARA,PR,SISY,2021-05-30,17:38:00,0.0
6002,80115,80115,INCIDENTE,SANTA BÁRBARA,MG,NaN,2021-06-08,15:55:00,0.0
6036,80159,80159,INCIDENTE,JUIZ DE FORA,MG,SBJF,2021-07-01,20:00:00,0.0
6058,80177,80177,ACIDENTE,CASTANHEIRA,MT,NaN,2021-07-10,17:00:00,0.0

In [27]:
#Ocorrências cuja cidade CONTENHAM com a letra MA ou NA
filtro = df.ocorrencia_cidade.str.contains('UM&MA', na=False)
df.loc[filtro]

Empty DataFrame
Columns: [codigo_ocorrencia, codigo_ocorrencia1, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes]
Index: []

In [28]:
#Ocorrências do ano de 2015, mês, dia
filtro = df.ocorrencia_dia.dt.year.isin([2015,2018]) & (df.ocorrencia_dia.dt.month== 12)
filtro2 = (df.ocorrencia_dia.dt.day >2) & (df.ocorrencia_dia.dt.day < 20)
df.loc[filtro & filtro2,['ocorrencia_cidade','ocorrencia_aerodromo','ocorrencia_dia']]

            ocorrencia_cidade ocorrencia_aerodromo ocorrencia_dia
3434    CAMPOS DOS GOYTACAZES                 SBFS     2015-12-03
3435           BELO HORIZONTE                 SBBH     2015-12-03
3436                 TRINDADE                  NaN     2015-12-06
3437                AMERICANA                 SDAI     2015-12-06
3438                    AGUAÍ                  NaN     2015-12-08
3439                    JALES                 SDJL     2015-12-08
3440                 CAMPINAS                 SBKP     2015-12-08
3441            CAXIAS DO SUL                 SBCX     2015-12-08
3442                 TERESINA                 SBTE     2015-12-12
3443                  GOIÂNIA                 SBGO     2015-12-12
3444                SÃO PAULO                 SBSP     2015-12-12
3445               JUSCIMEIRA                 SWMO     2015-12-12
3446               RIO GRANDE                  NaN     2015-12-12
3447                  MARÍLIA                 SBML     2015-12-13
3448                 LONDRINA                 SBLO     2015-12-13
3449          BENTO GONÇALVES                 SSBG     2015-12-13
3450                    LAGES                  NaN     2015-12-13
3451                 LOUVEIRA                 SDAM     2015-12-15
3452                ARAGUAÍNA                 SWGN     2015-12-15
3453                 PALOTINA                  NaN     2015-12-15
3454           RIO DE JANEIRO                 SBJR     2015-12-15
3455              SERTÃOZINHO                  NaN     2015-12-15
3456           BELO HORIZONTE                 SBPR     2015-12-16
3457                 ITÁPOLIS                 SDIO     2015-12-17
3458               UBERLÂNDIA                 SBUL     2015-12-18
3459                  JUNDIAÍ                 SBJD     2015-12-18
4720    CAMPOS DOS GOYTACAZES                 SBCP     2018-12-08
4721                 ITAITUBA                 SNMD     2018-12-08
4722                CAPITÓLIO                 SNDU     2018-12-08
4723     SÃO GABRIEL DO OESTE                  NaN     2018-12-08
4724          CHAPADÃO DO SUL                  NaN     2018-12-09
4725                GUARULHOS                 SBGR     2018-12-10
4726                  GUAXUPÉ                 SNGX     2018-12-10
4727           BIRITIBA-MIRIM                 SDIH     2018-12-11
4728                SÃO PAULO                 SBMT     2018-12-12
4729                    BELÉM                 SBJC     2018-12-13
4730  ESPÍRITO SANTO DO TURVO                  NaN     2018-12-14
4731           NOVA ANDRADINA                  NaN     2018-12-14
4732           BELO HORIZONTE                 SBPR     2018-12-14
4733                  CACEQUI                  NaN     2018-12-17
4734    SÃO PAULO DE OLIVENÇA                  NaN     2018-12-17
4735               NAVEGANTES                 SBNF     2018-12-17
4736                 TERESINA                 SBTE     2018-12-18

In [29]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia1                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

In [30]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' +df.ocorrencia_hora)

In [31]:
(df.ocorrencia_dia.astype(str) + ' ' +df.ocorrencia_hora)

0       2010-01-03 12:00:00
1       2010-01-03 11:05:00
2       2010-01-03 03:00:00
3       2010-01-04 17:30:00
4       2010-01-05 19:25:00
               ...
6109    2021-08-15 15:05:00
6110    2021-08-16 02:30:00
6111    2021-08-17 15:45:00
6112    2021-08-18 16:00:00
6113    2021-08-18 12:45:00
Length: 6114, dtype: object

In [32]:
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0,2010-01-03 12:00:00
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,2010-01-03 11:05:00
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,2010-01-03 03:00:00
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0.0,2010-01-04 17:30:00
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,2010-01-05 19:25:00
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,2010-01-06,17:53:00,0.0,2010-01-06 17:53:00
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0,2010-01-07 18:40:00
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3.0,2010-01-09 12:30:00
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0,2010-01-10 23:15:00
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0.0,2010-01-10 20:00:00

In [33]:
#Ocorrências do ano de 2015, mês, dia
filtro = df.ocorrencia_dia_hora.dt.year.isin([2015,2018]) & (df.ocorrencia_dia_hora.dt.month== 12)
filtro2 = (df.ocorrencia_dia_hora.dt.day >2) & (df.ocorrencia_dia_hora.dt.day < 20)
df.loc[filtro & filtro2,['ocorrencia_cidade','ocorrencia_aerodromo','ocorrencia_dia']]

            ocorrencia_cidade ocorrencia_aerodromo ocorrencia_dia
3434    CAMPOS DOS GOYTACAZES                 SBFS     2015-12-03
3435           BELO HORIZONTE                 SBBH     2015-12-03
3436                 TRINDADE                  NaN     2015-12-06
3437                AMERICANA                 SDAI     2015-12-06
3438                    AGUAÍ                  NaN     2015-12-08
3439                    JALES                 SDJL     2015-12-08
3440                 CAMPINAS                 SBKP     2015-12-08
3441            CAXIAS DO SUL                 SBCX     2015-12-08
3442                 TERESINA                 SBTE     2015-12-12
3443                  GOIÂNIA                 SBGO     2015-12-12
3444                SÃO PAULO                 SBSP     2015-12-12
3445               JUSCIMEIRA                 SWMO     2015-12-12
3446               RIO GRANDE                  NaN     2015-12-12
3447                  MARÍLIA                 SBML     2015-12-13
3448                 LONDRINA                 SBLO     2015-12-13
3449          BENTO GONÇALVES                 SSBG     2015-12-13
3450                    LAGES                  NaN     2015-12-13
3451                 LOUVEIRA                 SDAM     2015-12-15
3452                ARAGUAÍNA                 SWGN     2015-12-15
3453                 PALOTINA                  NaN     2015-12-15
3454           RIO DE JANEIRO                 SBJR     2015-12-15
3455              SERTÃOZINHO                  NaN     2015-12-15
3456           BELO HORIZONTE                 SBPR     2015-12-16
3457                 ITÁPOLIS                 SDIO     2015-12-17
3458               UBERLÂNDIA                 SBUL     2015-12-18
3459                  JUNDIAÍ                 SBJD     2015-12-18
4720    CAMPOS DOS GOYTACAZES                 SBCP     2018-12-08
4721                 ITAITUBA                 SNMD     2018-12-08
4722                CAPITÓLIO                 SNDU     2018-12-08
4723     SÃO GABRIEL DO OESTE                  NaN     2018-12-08
4724          CHAPADÃO DO SUL                  NaN     2018-12-09
4725                GUARULHOS                 SBGR     2018-12-10
4726                  GUAXUPÉ                 SNGX     2018-12-10
4727           BIRITIBA-MIRIM                 SDIH     2018-12-11
4728                SÃO PAULO                 SBMT     2018-12-12
4729                    BELÉM                 SBJC     2018-12-13
4730  ESPÍRITO SANTO DO TURVO                  NaN     2018-12-14
4731           NOVA ANDRADINA                  NaN     2018-12-14
4732           BELO HORIZONTE                 SBPR     2018-12-14
4733                  CACEQUI                  NaN     2018-12-17
4734    SÃO PAULO DE OLIVENÇA                  NaN     2018-12-17
4735               NAVEGANTES                 SBNF     2018-12-17
4736                 TERESINA                 SBTE     2018-12-18

In [34]:
filtro1 = df.ocorrencia_dia_hora > '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora < '2016-12-08 11:00:00'
df201512 = df.loc[filtro1 & filtro2]

In [35]:
filtro1 = df.ocorrencia_dia_hora > '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora < '2016-12-08 11:00:00'

df201512 = df.loc[filtro1 & filtro2]
df201512.count()

codigo_ocorrencia           414
codigo_ocorrencia1          414
ocorrencia_classificacao    414
ocorrencia_cidade           414
ocorrencia_uf               414
ocorrencia_aerodromo        281
ocorrencia_dia              414
ocorrencia_hora             414
total_recomendacoes         414
ocorrencia_dia_hora         414
dtype: int64

In [36]:
df201512.groupby(['codigo_ocorrencia']).count()

,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
codigo_ocorrencia,,,,,,,,,
53625,1,1,1,1,0,1,1,1,1
53626,1,1,1,1,1,1,1,1,1
53627,1,1,1,1,1,1,1,1,1
53628,1,1,1,1,0,1,1,1,1
53629,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
66090,1,1,1,1,1,1,1,1,1
66121,1,1,1,1,1,1,1,1,1
66210,1,1,1,1,0,1,1,1,1
66342,1,1,1,1,1,1,1,1,1
66430,1,1,1,1,1,1,1,1,1

In [37]:
df201512.groupby(['codigo_ocorrencia']).ocorrencia_aerodromo.count()

codigo_ocorrencia
53625    0
53626    1
53627    1
53628    0
53629    1
        ..
66090    1
66121    1
66210    0
66342    1
66430    1
Name: ocorrencia_aerodromo, Length: 414, dtype: int64

In [44]:
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
df201512 = df.loc[filtro1 & filtro2]
#Usar o .count para verificar se tem todos oa dados para agrupar(Código abaixo)
df201512.count()

codigo_ocorrencia           39
codigo_ocorrencia1          39
ocorrencia_classificacao    39
ocorrencia_cidade           39
ocorrencia_uf               39
ocorrencia_aerodromo        31
ocorrencia_dia              39
ocorrencia_hora             39
total_recomendacoes         39
ocorrencia_dia_hora         39
dtype: int64

In [53]:
#Cuidado com esse COUNT!
#Tente escolher uma coluna que tenha dados
#Atentar para linha 56, onde o melhor uso é o SIZE()
df201512.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           13
INCIDENTE          23
INCIDENTE GRAVE     3
Name: codigo_ocorrencia, dtype: int64

In [57]:
#Trocando para ocorrencia_aerodromo para mostrar que vai faltar os dados
df201512.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            6
INCIDENTE          23
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [58]:
#Para não ter o problema acima use o SIZE, pois ele usará o numero de linhar que foram agruadas
df201512.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           13
INCIDENTE          23
INCIDENTE GRAVE     3
dtype: int64

In [61]:
#
df201512.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          23
ACIDENTE           13
INCIDENTE GRAVE     3
dtype: int64

In [74]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0,2010-01-03 12:00:00
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,2010-01-03 03:00:00
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0.0,2010-01-10 20:00:00
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0,2010-01-10 14:50:00
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0.0,2010-01-15 15:00:00
...,...,...,...,...,...,...,...,...,...,...
541,43722,43722,ACIDENTE,CAJOBI,SP,NaN,2010-12-23,11:00:00,0.0,2010-12-23 11:00:00
544,43548,43548,INCIDENTE,SÃO PAULO,SP,SBSP,2010-12-26,22:10:00,0.0,2010-12-26 22:10:00
548,43724,43724,ACIDENTE,COSMÓPOLIS,SP,NaN,2010-12-29,12:00:00,0.0,2010-12-29 12:00:00
550,43730,43730,INCIDENTE,VITÓRIA,ES,NaN,2010-12-30,18:10:00,0.0,2010-12-30 18:10:00
551,43975,43975,INCIDENTE,ARRAIAL DO CABO,RJ,NaN,2010-12-30,14:28:00,0.0,2010-12-30 14:28:00

In [75]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [77]:
dfsudeste2010.count()

codigo_ocorrencia           228
codigo_ocorrencia1          228
ocorrencia_classificacao    228
ocorrencia_cidade           228
ocorrencia_uf               228
ocorrencia_aerodromo        127
ocorrencia_dia              228
ocorrencia_hora             228
total_recomendacoes         228
ocorrencia_dia_hora         228
dtype: int64

In [86]:
dfsudeste2010.groupby(['ocorrencia_classificacao','ocorrencia_uf','ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_classificacao  ocorrencia_uf  ocorrencia_cidade
INCIDENTE                 RJ             RIO DE JANEIRO       38
                          SP             SÃO PAULO            22
                                         GUARULHOS            17
                          MG             BELO HORIZONTE       14
                          SP             CAMPINAS             13
                                                              ..
ACIDENTE                  SP             BRAGANÇA PAULISTA     1
                                         BOITUVA               1
INCIDENTE                 SP             AMERICANA             1
                                         ARARAQUARA            1
ACIDENTE                  SP             ARAÇATUBA             1
Length: 73, dtype: int64

In [89]:
filtro1 = dfsudeste2010.ocorrencia_cidade == 'SÃO PAULO'
filtro2 = dfsudeste2010.total_recomendacoes.sum()

In [95]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'],dropna=False).total_recomendacoes.sum().sort_values(ascending=False)

ocorrencia_aerodromo
NaN     45.0
SBMT    27.0
SBRJ    19.0
SBBP     9.0
SBJD     7.0
SBGL     3.0
SBJR     3.0
SDOI     1.0
SBPR     1.0
SBIP     0.0
SBSR     0.0
SNXT     0.0
SNDV     0.0
SNDT     0.0
SDPY     0.0
SDPW     0.0
SBBH     0.0
SDAM     0.0
SBVT     0.0
SBUR     0.0
SBUL     0.0
SBSP     0.0
SBGR     0.0
SBSJ     0.0
SBRP     0.0
SBBU     0.0
SBAQ     0.0
SBPC     0.0
SBCF     0.0
SBML     0.0
SBMK     0.0
SBME     0.0
SBKP     0.0
SBAE     0.0
Name: total_recomendacoes, dtype: float64